<%= form_with(model: @attendee, local: true) do |f| %>

  <%= f.hidden_field :attendees_id, value: @event_detail.id %>

  <div class="form-group">
    <%= f.label :attendees_names %>

    <%= f.text_field :attendees_names, class: "form-control" %>
  </div>

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
