<%= form_with(model: @comments_detail, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :comments %>

    <%= f.text_field :comments, class: "form-control" %>
  </div>

  <%= f.hidden_field :comment_id, value: @event_detail.id %>

  <%= f.submit "Create comments detail", class: "btn btn-block btn-outline-secondary" %>
<% end %>
