<%= form_with(model: @host_detail, local: true) do |f| %>

  <%= f.hidden_field :host_id, value: @event_detail.id %>

  <div class="form-group">
    <%= f.label :host_name %>

    <%= f.text_field :host_name, class: "form-control" %>
  </div>

  <%= f.submit "Create host detail", class: "btn btn-block btn-outline-secondary" %>
<% end %>
